# Порт, на якому працюватиме сервер
PORT=3000

# Рядок підключення до MongoDB (локально або Atlas)
# Приклад: mongodb+srv://<user>:<password>@cluster.mongodb.net/dbname
MONGO_URL=your_mongodb_connection_string

# Режим роботи додатка: development або  production
NODE_ENV=development

# Адреса фронтенду
FRONTEND_DOMAIN=http://localhost:3000

# Налаштування Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

#Налаштування SMTP для відправки електронної пошти

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_login
SMTP_PASSWORD=your_brevo_smtp_key
SMTP_FROM=no-reply@little-steps-leleka.com
JWT_SECRET=your_jwt_secret_key

EMAIL_LOGO_URL=https://little-steps-kappa.vercel.app/images/logo.png
EMAIL_BANNER_URL=https://little-steps-kappa.vercel.app/images/og-home.jpg
